div.field-entry_versions {
	margin: 1.5em 0;
}

div.field-entry_versions p {
	margin: 0;
}

div.field-entry_versions span {
	text-align: left;
}

div.field-entry_versions div.frame {
	padding: 0;
	background-color: transparent;
	border: none;
	overflow: auto;	
}

div.field-entry_versions ol {
  display: table;
	margin: 0;
	list-style-type: none;
	color: #aaa;
	clear: both;
}

div.field-entry_versions li span {
	border: none;
	display: inline;
	width: auto;
	height: auto;
	margin: 0;
	background: transparent;
	color: #333;
}

div.field-entry_versions li span.date {
	color: #aaa;
}

div.field-entry_versions li {
  display: table-row;
	margin: 0;
}

div.field-entry_versions li > * {
	display: table-cell;
	padding: .75em;
}

div.field-entry_versions ol a {
	outline: none;
	text-decoration: underline;
	border-bottom-color: transparent;
}

div.field-entry_versions li.viewing {
	color: black;
	background: white;
	border-radius: .5em;
}

div.field-entry_versions ol li.viewing a {
	color: #000;
	cursor: text;
	font-weight: bold;
	text-decoration: none;
}

div.field-entry_versions ol li.viewing a span.version {
	color: #5072BF;
	text-decoration: none;
	cursor: pointer;
	font-weight: normal;
}

div.field-entry_versions ol li.viewing a:hover span.version,
div.field-entry_versions ol li.viewing a:focus span.version,
div.field-entry_versions a.more:hover {
	color: #000;
}

div.field-entry_versions li.limit {
	display: none;
}

div.field-entry_versions a.more {
	margin: 5px 0 0 3px;
	display: inline-block;
	color: #aaa;
}

#entry-versions-actions {
	display: block;
	margin: auto .5em auto 2em;
}

#entry-versions-actions input {
	padding: 0;
	margin: 0 .5em 0 0 !important;
}